body{
    background-image: linear-gradient(to bottom right, rgb(20, 52, 150), rgb(153, 0, 153));
}

.heading{
    width: 100%;
}

.note, label{
    color: black;
}

label{
    font-size: 15px;
}

input{
    border-radius: 1px;
    margin-left: 10px;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 100px;
}

.copy_right_footer{
   position: fixed;
   color: #6c757d;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #f5f5f5;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(151, 149, 149);
}